[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pyqt5 = "*"
lxml = "*"
qt-pyqt-pyside-custom-widgets = "*"

[dev-packages]

[requires]
python_version = "3.9"
